<div class="row" style="text-align: center; margin: 0px;">

    <div class="col-5 titulo-aseguradoras">
        <span>
            ASEGURADORAS
        </span>
    </div>
    <div class="col-7">
        <div class="row">
            <div class="col-3">
                <a class="image-container" (click)="openModal(mapfre, 'myCustomModalClass')" style="margin: 60px">
                    <img src="./../../../assets/images/mapfre.jpg" width="228px" height="110px" placement="bottom"
                        ngbPopover="PYMES" triggers="mouseenter:mouseleave" popoverTitle="Disponibles">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- begin Modal template   -->
<ng-template #mapfre let-c="close" let-d="dismiss">
    <form [formGroup]="aseguradoraFormGroup" *ngIf="aseguradoraFormGroup">
        <div class="modal-header">
            <h4 class="modal-title">
                Formulario MAPFRE
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <section>
                <div [formGroup]="aseguradoraFormGroup.controls.datosCliente">
                    <div class="row" style="color: #ec2c01;">
                        <div class="col-3">
                            <img src="./../../../assets/images/mapfre.jpg" alt="" width="228px" height="110px">
                        </div>
                        <div class="col-4" style="color: #41a02c;">
                            COTIZACION POLIZA DE TODO RIESGOS DAÑO MATERIAL EQUIEMPRESA
                        </div>
                        <div class="col-5" style="color: #41a02c;">
                            PYMES
                        </div>
                    </div>
                    <!-- Datos de cliente  INDEPENDIZAR EN SUB COMPONENTE PARA LA REUTILIZACION -->
                    <div class="row" style="color: #41a02c; margin-bottom: 10px;margin-top: 25px;">
                        <div class="col-12">Datos de cliente</div>
                        <hr style="width: 98%; background: #41a02c; margin: auto;">
                    </div>
                    <div class="row form-group" style="margin-bottom: 10px;">
                        <div class="col-3">
                            Fecha
                        </div>
                        <div class="col-3 form-group">
                            <input type="text" class="form-control" formControlName="fecha" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosCliente').get('fecha').hasError('required') && (aseguradoraFormGroup.get('datosCliente').get('fecha').dirty || aseguradoraFormGroup.get('datosCliente').get('fecha').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Nombre del Cliente
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" formControlName="nombreCliente" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosCliente').get('nombreCliente').hasError('required') && (aseguradoraFormGroup.get('datosCliente').get('nombreCliente').dirty || aseguradoraFormGroup.get('datosCliente').get('nombreCliente').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-1">
                            C.C. / NIT
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="documento" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosCliente').get('documento').hasError('required') && (aseguradoraFormGroup.get('datosCliente').get('documento').dirty || aseguradoraFormGroup.get('datosCliente').get('documento').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-1">
                            Teléfono
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="telefono" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosCliente').get('telefono').hasError('required') && (aseguradoraFormGroup.get('datosCliente').get('telefono').dirty || aseguradoraFormGroup.get('datosCliente').get('telefono').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            Asesor
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" formControlName="asesor" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosCliente').get('asesor').hasError('required') && (aseguradoraFormGroup.get('datosCliente').get('asesor').dirty || aseguradoraFormGroup.get('datosCliente').get('asesor').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-3">
                            Agencia
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" formControlName="agencia" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosCliente').get('agencia').hasError('required') && (aseguradoraFormGroup.get('datosCliente').get('agencia').dirty || aseguradoraFormGroup.get('datosCliente').get('agencia').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Datos de Riesgo -->
                <div class="form-datos-cliente" [formGroup]="aseguradoraFormGroup.controls.datosRiesgo">
                    <div class="row" style="color: #41a02c; margin-bottom: 10px;">
                        <div class="col-12">
                            Datos de Riesgo
                        </div>
                        <hr style="width: 98%; background: #41a02c; margin: auto;">
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-3">
                            Direccion
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" formControlName="direccion" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('direccion').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('direccion').dirty || aseguradoraFormGroup.get('datosRiesgo').get('direccion').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-1">
                            Ciudad
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="ciudad" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('ciudad').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('ciudad').dirty || aseguradoraFormGroup.get('datosRiesgo').get('ciudad').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-1">
                            Barrio
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="barrio" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('barrio').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('barrio').dirty || aseguradoraFormGroup.get('datosRiesgo').get('barrio').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            Depto.
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="departamento" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('departamento').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('departamento').dirty || aseguradoraFormGroup.get('datosRiesgo').get('departamento').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-1">
                            No. de Pisos
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="pisos" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('pisos').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('pisos').dirty || aseguradoraFormGroup.get('datosRiesgo').get('pisos').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-1">
                            No. Sótanos
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="sotanos" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('sotanos').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('sotanos').dirty || aseguradoraFormGroup.get('datosRiesgo').get('sotanos').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-1">
                            Año de construccion
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="añoConstruccion"
                                ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('añoConstruccion').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('añoConstruccion').dirty || aseguradoraFormGroup.get('datosRiesgo').get('añoConstruccion').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-2"> Actividad</div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="actividad" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('actividad').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('actividad').dirty || aseguradoraFormGroup.get('datosRiesgo').get('actividad').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-2"> Irreg. de Planta</div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="irregPlanta" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('irregPlanta').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('irregPlanta').dirty || aseguradoraFormGroup.get('datosRiesgo').get('irregPlanta').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-2"> Irreg. Altura</div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="irregAltura" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('irregAltura').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('irregAltura').dirty || aseguradoraFormGroup.get('datosRiesgo').get('irregAltura').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-2"> Tipo Estructura</div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="tipoEstructura" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('tipoEstructura').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('tipoEstructura').dirty || aseguradoraFormGroup.get('datosRiesgo').get('tipoEstructura').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-2"> Grupo Construccion</div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="grupoConstruccion"
                                ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('grupoConstruccion').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('grupoConstruccion').dirty || aseguradoraFormGroup.get('datosRiesgo').get('grupoConstruccion').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-2"> Uso de Riesgo</div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="usoDelRiesgo" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('usoDelRiesgo').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('usoDelRiesgo').dirty || aseguradoraFormGroup.get('datosRiesgo').get('usoDelRiesgo').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-2"> Estructura Reforzada</div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="estructuraReforzada"
                                ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('estructuraReforzada').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('estructuraReforzada').dirty || aseguradoraFormGroup.get('datosRiesgo').get('estructuraReforzada').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-2"> Daños Previos</div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="dañosPrevios" ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('dañosPrevios').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('dañosPrevios').dirty || aseguradoraFormGroup.get('datosRiesgo').get('dañosPrevios').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                        <div class="col-2"> Bienes Asegurados</div>
                        <div class="col-2">
                            <input type="text" class="form-control" formControlName="bienesAsegurados"
                                ngDefaultControl />
                            <span
                                *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('bienesAsegurados').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('bienesAsegurados').dirty || aseguradoraFormGroup.get('datosRiesgo').get('bienesAsegurados').touched)"
                                class="text-danger">
                                * Campo requerido
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Relacion de bienes INDEPENDIZAR EN SUB COMPONENTE PARA LA REUTILIZACION -->
                <div class="form-datos-cliente" [formGroup]="aseguradoraFormGroup.controls.bienesYValores">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-4" style="color: #41a02c;">Relacion de bienes</div>
                        <div class="col-4" style="color: #41a02c;">Valores asegurados</div>
                        <hr style="width: 98%; background: #41a02c; margin: auto;">
                        <div class="row list-items" *ngFor=" let item of bienesYValores">
                            <div class="col-4">{{item.nombre}}</div>
                            <div class="col-4">
                                <input type="text" class="form-control" formControlName="{{item.idFormulario}}" ngDefaultControl />
                                <span
                                    *ngIf="aseguradoraFormGroup.get('datosRiesgo').get('bienesAsegurados').hasError('required') && (aseguradoraFormGroup.get('datosRiesgo').get('bienesAsegurados').dirty || aseguradoraFormGroup.get('datosRiesgo').get('bienesAsegurados').touched)"
                                    class="text-danger">
                                    * Campo requerido
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Relacion de bienes INDEPENDIZAR EN SUB COMPONENTE PARA LA REUTILIZACION -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-12" style="color: #41a02c;">Amparos</div>
                    <hr style="width: 98%; background: #41a02c; margin: auto;">
                    <div class="row" style="min-width: 45%; max-width: 45%; margin: 0.5%;"
                        *ngFor=" let item of amparos">
                        <div class="col-3" style="min-width: 50%;" [ngClass]="item.important ? 'bolder': ''">
                            {{item.nombre}}
                        </div>
                        <div class="col-3" style="min-width: 50%;">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <!-- Asistencia PYMES INDEPENDIZAR EN SUB COMPONENTE PARA LA REUTILIZACION -->
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-4" style="color: #41a02c;">Asistencia PYME</div>
                    <hr style="width: 98%; background: #41a02c; margin: auto;">
                    <div class="row list-items" *ngFor=" let item of asistenciaPymes">
                        <div class="col-4" [ngClass]="item.important ? 'bolder': ''">{{item.nombre}}</div>
                        <div class="col-4" style="text-align: left">{{item.valor}}</div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <label style="font-weight: bold;">Por favor validar la direccion de correo a la cual se enviara el
                documento.</label>
            <button type="button" class="btn btn-secondary" (click)="generarDocumento()">Generar Documento</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        </div>
    </form>
</ng-template>