.titulo-aseguradoras {
  background-color: #eaf4f6;
  color: #00305b;
  font-size: 2em;
  padding-top: 150px;
  padding-left: 80px;
  min-height: 500px;
}

.image-container {
  margin: auto;
  display: block;
  border-radius: 0;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 1);
  border: 10px solid rgba(255, 255, 255, 1);
  overflow: hidden;
  width: 248px;
  height: 130px;
  cursor: pointer;
}

.image-aseguradora {
  margin: auto;
  display: block;
  border-radius: 0;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 1);
  border: 10px solid rgba(255, 255, 255, 1);
  overflow: hidden;
  width: 248px;
  height: 130px;
}

th {
  min-width: 100px;
}

input {
  width: 100%;
}

.list-items {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 6px;
}

.bolder{
    font-weight: bold;
}

.toast-position{
  position: fixed;
  right: 60px;
  top: 120px;
  z-index: 2000;
}
