<div class="row" style="text-align: center; margin: 0px;">

    <div class="col-5 titulo-aseguradoras">
        <span>
            ASEGURADORAS
        </span>
    </div>
    <div class="col-7">
        <div class="row">
            <div class="col-6" *ngFor="let item of aseguradorasList">
                <a class="image-container" (click)="selectCotizador(item, seleccionarCotizador, 'myCustomModalClass')"
                    style="margin: 40px">
                    <img src="{{item.imagen}}" width="228px" height="110px" placement="bottom"
                        ngbPopover="PYMES y Copropiedad" triggers="mouseenter:mouseleave" popoverTitle="Disponibles">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- seleccionar cotizador   -->
<ng-template #seleccionarCotizador let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" style="text-align: center; width: 100%;">
            Seleccione la cotizacion deseada
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="text-align: center;">
        <div class="col-12">
            <a class="image-aseguradora" style="margin-bottom: 40px; ">
                <img src="{{propiedadesEmpresa.imagen}}" width="228px" height="110px">
                <h4>{{propiedadesEmpresa.nombre}}</h4>
            </a>
        </div>
        <div class="row">
            <div class="col-6" style="text-align: center">
                <button type="button" class="btn btn-secondary" (click)="abrirCotizador(pymes)">PYMES</button></div>
            <div class="col-6" style="text-align: center">
                <button type="button" class="btn btn-secondary"
                    (click)="abrirCotizador(copropiedad)">Copropiedad</button></div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<!-- pymes  -->
<ng-template #pymes let-c="close" let-d="dismiss">
    <app-pymes [propiedadesAseguradora]="propiedadesEmpresa" (enviarDatos)="generarObjetoPyme($event)"
        (cerrarModal)="closeModal()"></app-pymes>
</ng-template>

<!-- copropiedad  -->
<ng-template #copropiedad let-c="close" let-d="dismiss">
    <app-propiedades [propiedadesAseguradora]="propiedadesEmpresa" (enviarDatos)="generarObjetoCopropiedad($event)"
        (cerrarModal)="closeModal()"></app-propiedades>
</ng-template>

<ng-template #diligenciarCorreo let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" style="text-align: center; width: 100%;">
            Correo electronico destino
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" [formGroup]="emailFormGroup">
            <div class="col-3" style="min-width: 50%;">
                Direccion de correo electronico:
            </div>
            <div class="col-3" style="min-width: 50%;">
                <input type="text" class="form-control" formControlName="email" id="emailInput"
                    ngbTooltip="Debe ser una direccion valida" placement="right" ngDefaultControl />
                <span
                    *ngIf="emailFormGroup.controls['email'].hasError('pattern') && (emailFormGroup.controls['email'].dirty || emailFormGroup.controls['email'].touched)"
                    class="text-danger">
                    Email invalido !
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <label style="font-weight: bold; color: red;">Si cancela, se perderan los datos diligenciados
            anteriormente.</label>
        <button type="button" class="btn btn-primary"
            [disabled]="(emailFormGroup.status == 'VALID' ? false : true) || buttonDisabled"
            (click)="enviarDocumento()">Enviar</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar Envio</button>
    </div>
</ng-template>

<ngb-toast *ngIf="showSuccessToast" header="Envio de correo" [delay]="5000" [autohide]="autohideSuccess"
    (hide)="showSuccessToast = false; autohideSuccess = true" class="bg-success toast-position">
    <div style="color: white; font-weight: bold;">
        El documento se ha enviado exitosamente !
    </div>
</ngb-toast>

<ngb-toast *ngIf="showErrorToast" header="Envio de correo" [delay]="5000" [autohide]="autohideError"
    (hide)="showErrorToast = false; autohideError = true" class="bg-danger toast-position" style="font-weight:bold;">
    <div style="color: white; font-weight: bold;">
        Problemas al enviar el correo electronico !
    </div>
</ngb-toast>

<ngx-spinner bdOpacity="0.6" bdColor="#00305b" size="default" color="white" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
    <p style="color: white"> Generando documento... </p>
</ngx-spinner>
