<div [formGroup]="datosCliente">
        <div class="row" style="margin-bottom: 10px;margin-top: 25px;" [ngStyle]="{'color': propiedadesAseguradora.color}">
            <div class="col-12">Datos de cliente</div>
            <hr style="width: 98%; margin: auto; " [ngStyle]="{'background': propiedadesAseguradora.color}">
        </div>
        <div class="row form-group" style="margin-bottom: 10px;">
            <div class="col-3">
                Fecha
            </div>
            <div class="col-3 form-group">
                <input type="date" class="form-control" formControlName="fecha" ngDefaultControl />
                <span
                    *ngIf="datosCliente.get('fecha').hasError('required') && (datosCliente.get('fecha').dirty || datosCliente.get('fecha').touched)"
                    class="text-danger">
                    * Campo requerido
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Nombre del Cliente
            </div>
            <div class="col-3" style="margin-bottom: 10px;">
                <input type="text" class="form-control" formControlName="nombreCliente" ngDefaultControl />
                <span
                    *ngIf="datosCliente.get('nombreCliente').hasError('required') && (datosCliente.get('nombreCliente').dirty || datosCliente.get('nombreCliente').touched)"
                    class="text-danger">
                    * Campo requerido
                </span>
            </div>
            <div class="col-1">
                C.C. / NIT
            </div>
            <div class="col-2">
                <input type="text" class="form-control" formControlName="documento" ngDefaultControl />
                <span
                    *ngIf="datosCliente.get('documento').hasError('required') && (datosCliente.get('documento').dirty || datosCliente.get('documento').touched)"
                    class="text-danger">
                    * Campo requerido
                </span>
            </div>
            <div class="col-1">
                Teléfono
            </div>
            <div class="col-2">
                <input type="text" class="form-control" formControlName="telefono" ngDefaultControl />
                <span
                    *ngIf="datosCliente.get('telefono').hasError('required') && (datosCliente.get('telefono').dirty || datosCliente.get('telefono').touched)"
                    class="text-danger">
                    * Campo requerido
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Asesor
            </div>
            <div class="col-3">
                <input type="text" class="form-control" formControlName="asesor" ngDefaultControl />
                <span
                    *ngIf="datosCliente.get('asesor').hasError('required') && (datosCliente.get('asesor').dirty || datosCliente.get('asesor').touched)"
                    class="text-danger">
                    * Campo requerido
                </span>
            </div>
            <div class="col-3">
                Agencia
            </div>
            <div class="col-3">
                <input type="text" class="form-control" formControlName="agencia" ngDefaultControl />
                <span
                    *ngIf="datosCliente.get('agencia').hasError('required') && (datosCliente.get('agencia').dirty || datosCliente.get('agencia').touched)"
                    class="text-danger">
                    * Campo requerido
                </span>
            </div>
        </div>
    </div>
