/* You can add global styles to this file, and also import other style files */
* {
    transition: all 2s;
}


app-header {
    position: relative;
    min-width: 100%;
    top: 0;
}

.modal-open {
    padding-right: 0px !important;
}


.myCustomModalClass .modal-dialog {
    min-width: 70%;
  }
  
